/* ==UserStyle==
@name           Glass Masthead and Guide for V3
@namespace      github.com/openstyles/stylus
@version        1.0.1
@description    Glass effects on V3's masthead, search box, and guide.
@author         Me
==/UserStyle== */

@-moz-document domain("youtube.com") {
    #yt-masthead-container, .cardified-page #yt-masthead-container, #appbar-guide-menu, #masthead-appbar-container, .cardified-page #masthead-appbar-container {
    background: #ffffff82;
    backdrop-filter: blur(4px);}
        
    .site-center-aligned:not(.guide-pinned) #appbar-guide-menu:before, #masthead-search-terms, #yt-masthead #search-btn, #yt-masthead #upload-btn {
        background:unset;
    }
}
