 /* ==UserStyle==
@name           Late 2016 for V3 + StarTube Beta
@namespace      github.com/ArbestRi02/
@version        1.1.5
@description    Makes 2016 StarTube more faithful to late 2016.
@author         ArbestRi
@preprocessor   less
@var            select              FooterLogo                 "Footer logo"              ["2015-2017*", "2017-2024"]
==/UserStyle== */
@-moz-document domain("www.youtube.com") {
    h1,h2, #watch7-playlist-tray .video-list-item .count{
    font-weight:normal;}
    
    .category-header .category-title, .secondary-header-contents .nav-text, .branded-page-v2-secondary-col .branded-page-related-channels-see-more a, .video-time, .yt-alert-actionable .yt-alert-buttons, .yt-alert-default .yt-alert-content, #footer-links-primary, #footer-links-secondary a, #safety-form label, #c4-about-tab .about-custom-link, #c4-about-tab .about-stat-value {
    font-weight: 500}

    .cardified-page .branded-page-related-channels h2 {
        font-size: 15px; font-weight: 500; text-transform: none; color: #333; }

    [exp-modern-styles] .channel-header .primary-header-contents {
        padding: 17px 15px 5px; }

    #channel-search .show-search img, #channel-search .yt-uix-button-icon-search {
        background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflUwslsd.png) -594px -48px; height: 17px; }

    .branded-page-related-channels .yt-subscription-button-subscriber-count-unbranded-horizontal, .feed-item-checkbox-container, #channel-search.expanded .search-button, .yt-subscription-button-subscriber-count-vertical-container, #FEsocial-guide-item, .guide-quick-filter, .guide-quick-filter-container, .guide-section:first-child .guide-section-separator, #guide-library-section h3, .guide-section:last-child .guide-section-separator, #watch-playlist-privacy-icon img, [exp-modern-playlists] #watch7-playlist-tray .video-list-item .playlist-time, .yt-uix-button-icon-playlist-bar-prev, .yt-uix-button-icon-playlist-bar-next, .yt-uix-button-icon-playlist-bar-close, #watch7-playlist-tray-trim, #c4-about-tab .about-network-links {
        display: none !important }

    .yt-uix-button-subscribe-unbranded, .yt-uix-button-subscribe-unbranded[disabled], .yt-uix-button-subscribe-unbranded[disabled]:hover, .yt-uix-button-subscribe-unbranded[disabled]:active, .yt-uix-button-subscribed-unbranded, .yt-uix-button-subscribe-unbranded[disabled]:focus {
        border: 1px solid #ccc; background-color: #f8f8f8; color: #333; font-size: 11px !important; }

    .profileLink, .action-panel-content:hover a, .pl-video-detail-container .pl-video-owner a:hover, .pl-video:hover .pl-video-title-link,.pl-video:hover .pl-video-owner a, .distiller_yt-post_comment_section .link_action .link_action_text, .distiller_yt-thread .sentiment .count, .distiller_yt-thread .sentiment .count_active, .distiller_yt-thread_user-content .run-link, .feed-header .metadata a:hover, .yt-uix-button-link, #footer-links-primary a:hover, #footer-links-secondary a:hover, .filter:hover{
        color: #167ac6 !important; }
    
    a, .yt-gb-shelf-hero-content .qualified-channel-title a {
        color: #167ac6; } 
    
     .yt-alert-default.yt-alert-info,.yt-alert-actionable.yt-alert-info,.yt-alert-naked.yt-alert-info .yt-alert-icon,.yt-alert-small.yt-alert-info, .yt-alert-default.yt-alert-success, .yt-alert-actionable.yt-alert-success, .yt-alert-naked.yt-alert-success .yt-alert-icon, .yt-alert-small.yt-alert-success {
        background: #167ac6; }

    .hitchhiker-enabled .addto-watch-later-button img, .hitchhiker-enabled .addto-watch-later-button-sign-in img {
        background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflNVER5Q.webp) -442px -24px; }

    .exp-new-logo #footer-logo img {
        & when (@FooterLogo = 2015-2017) {
        background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflDupCLr.png) -637px 0; }
        & when (@FooterLogo = 2017-2024) {
        background: no-repeat url(//www.youtube.com/yts/img/ringo/hitchhiker/logo_small_2x-vfl4_cFqn.png); background-size: 100px 30px; width: 100px; } }

    .yt-lockup {
        line-height: 1.3em }

    .pl-header .pl-header-details, .pl-video-detail-container .pl-video-time, .video-list .video-list-item .description, .video-list .video-list-item .stat, .shelf-item .shelf-description, .no-videos-message, .no-recent-activity {
        color: #767676; }

    .channel-header-profile-image-container {
        left: 15px; }

    .guide-pinning-enabled.guide-pinned #appbar-guide-menu, .guide-pinning-enabled.show-guide.guide-pinned #appbar-guide-menu {
        border-right: 1px solid #e8e8e8; }

    [exp-modern-styles] a.yt-uix-button.yt-uix-button-epic-nav-item, [exp-modern-styles] button.yt-uix-button-epic-nav-item, [exp-modern-styles] .epic-nav-item, .exp-top-guide .guide-item, .exp-top-guide .guide-view-more, [exp-modern-styles] .epic-nav-item-heading, .branded-page-related-channels, .branded-page-related-channels h3 {
        font-size: 13px; }
    
    .exp-top-guide .guide-item .display-name {
        height: 14px; width: 140px; }

    [exp-true-scrollable-guide] #appbar-guide-menu {
        overflow: overlay !important; }

    .exp-new-subscribe-style .yt-uix-button-subscribe-branded {
        padding: 0 10px 0 5.5px; }

    .yt-pl-thumb .video-count-wrapper {
        height: 50px; color: #cfcfcf;}

    .yt-pl-thumb-overlay .yt-pl-thumb-overlay-content, .pl-header-thumb .pl-header-thumb-overlay {
        text-transform: uppercase; font-size: 13px;text-shadow: none;font-weight: 500; }

    .pl-header .pl-header-details, .pl-header .pl-header-description {
        margin: 4px 0; line-height: 1.3em; }

    .pl-header-details li:nth-of-type(1) .run.run-link.g-hovercard b  {
        font-weight: normal !important; color: #767676; }

    .pl-video {
        padding: 13px 15px; }

    .pl-header .pl-header-title {
        font-size: 20px; font-weight: 500; padding: 1px; line-height: 33px; }
    
    .pl-header .yt-uix-button-icon-playlist-like {
    background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflUwslsd.png) -812px -38px; width: 13px; height: 13px; }
    
    .pl-video-detail-container .pl-video-detail {
    line-height: 23px;}
    
    .pl-video-detail-container .pl-video-owner a {
    color: #767676; font-size: 12px;}
    
    .pl-video-list li:before {
    color: #767676; margin-right: 2px; }

    .exp-new-subscribe-style .yt-uix-button-subscribe-unbranded, .exp-new-subscribe-style .yt-uix-button-subscribed-unbranded {
        padding: 0 5.5px; box-shadow: unset; }
    
    .exp-new-subscribe-style .yt-uix-button-subscribe-unbranded:hover {
    border-color: #bfbfbf; background-color: #f6f6f6}
    
[exp-modern-styles]:not([exp-polymer-styles]) .yt-lockup-grid .yt-lockup-title {
    margin-top: unset;}

[exp-modern-styles] .oz-expander-arrow-down {
    margin-top: 11px !important; }

.exp-new-subscribe-style .yt-subscription-button-subscriber-count-branded-horizontal {
    padding: 0 7px; color: #737373; }

.yt-ui-ellipsis {
    line-height: 1.25em }
    
.video-player-view-component .view-count .content-item-time-created, .watch-extras-section .content{
    margin-left: 0; }

.yt-uix-button-icon-play-all {
    background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflUwslsd.png) -812px -285px; width: 16px; height: 16px; }

.branded-page-module-title-v2 .shelves-play {
    margin-left: 5px; height: 18px; }
    
.branded-page-module-title-v2 .branded-page-module-title-text-v2 {
    font-size: 15px;}

#watch7-subscription-container .channel-settings-link .yt-uix-button-icon-settings {
    background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflUwslsd.png) -235px -84px; width: 20px; height: 20px;}
    
.yt-uix-button-default:before, .yt-uix-button-default .yt-uix-button-icon, .hitchhiker-enabled .addto-watch-later-button img, .hitchhiker-enabled .addto-watch-later-button-sign-in img, .checkbox-on-off label:after {
    opacity: 0.5;}
    
.distiller_yt_headline span.run-text.run:first-child:after {
    content: '\002022'; margin: 0 3px;}
    
#transcript.watch8-menuitem:before {
    background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflUwslsd.png) 0 -215px; height:16px;}

.channel-header .secondary-header-contents {
    padding: 0 15px;}

.yt-uix-button-icon-c4-grid-flow, .yt-uix-button-toggled .yt-uix-button-icon-c4-grid-flow{
background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflUwslsd.png) -840px -107px; background-size:auto; width:16px; height:16px}
    
.yt-uix-button-icon-c4-list-flow, .yt-uix-button-toggled .yt-uix-button-icon-c4-list-flow{
background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflUwslsd.png) -676px 0; background-size:auto; width:16px; height:16px}
    
.yt-uix-button-icon-c4-grid-flow,.yt-uix-button-icon-c4-list-flow{
opacity:.6}
    
.yt-uix-button:not(.yt-uix-button-toggled):hover .yt-uix-button-icon-c4-grid-flow,.yt-uix-button:not(.yt-uix-button-toggled):hover .yt-uix-button-icon-c4-list-flow{
opacity:.7}
    
.yt-uix-button-toggled .yt-uix-button-icon-c4-list-flow,.yt-uix-button-toggled .yt-uix-button-icon-c4-grid-flow{
opacity:.8}
    
.yt-uix-button-toggled:hover .yt-uix-button-icon-c4-list-flow,.yt-uix-button-toggled:hover .yt-uix-button-icon-c4-grid-flow, #footer .yt-uix-button-icon-footer-language, .exp-new-subscribe-style .yt-uix-subscription-preferences-button .yt-uix-button-icon-subscription-preferences:hover, [exp-search-text] #masthead-search-term::placeholder{
opacity:1}

.exp-top-guide .guide-item .thumb {
    margin-left: 9px;}

#content-sort-menu {
    margin-right: 5px;}

.yt-lockup-meta, .yt-lockup-description, .yt-lockup-badges {
    margin: 3px 0 0;}

.yt-alert-naked.yt-alert-success .icon, .yt-alert-small.yt-alert-success .icon {
    background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflDupCLr.png) -615px -121px; background-size: auto; width: 19px; height: 20px;}

.yt-alert-naked .yt-alert-content {
    padding: 4px 13px 3px 0;}
    
.yt-alert-default.yt-alert-info .icon,.yt-alert-actionable.yt-alert-info .icon{
    background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflUwslsd.png) -415px -210px; background-size:auto; width:20px; height:21px}
    
.yt-alert-naked.yt-alert-info .icon,.yt-alert-small.yt-alert-info .icon{
    background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflUwslsd.png) -374px -128px; background-size:auto; width:20px; height:20px}

.yt-alert-actionable .yt-alert-content, .yt-alert-default .yt-alert-content {
    padding: 10px 0;}

.watch-extras-section .title,.watch-extras-section .content{
    font-size:11px; line-height:11px; margin-bottom:5px}

.watch-extras-section .content {
    color:#333;}

.watch-extras-section .title{
    float:left; font-weight:500 !important; width:50px; margin-right:50px}

.yt-alert-default.yt-alert-error .icon{
    background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflUwslsd.png) -523px -230px; background-size:auto; width:20px; height:21px}

.yt-alert-default.yt-alert-warn .icon,.yt-alert-actionable.yt-alert-warn .icon{
    background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflUwslsd.png) -394px -25px; background-size:auto; width:20px; height:21px}

.multirow-shelf .yt-uix-expander-head {
    margin-right: 10px}

#FEsubscriptions-guide-item > .guide-item.yt-uix-sessionlink.yt-valign {
    border-bottom: 1px solid #e2e2e2; margin-bottom: 8px; }

.pl-header .yt-uix-button-icon-gear {
    background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflUwslsd.png) -150px -214px; background-size:auto; width:16px; height:16px }

.channel-header #header-links {
    right: 15px; }
    
#watch7-playlist-tray .playlist-bar-item-playing {
    background-color: #3a3a3a;}
    
.watch7-playlist-bar-secondary-controls {
    padding: 0 11px !important;}
    
.watch7-playlist-bar-notifications, .watch7-playlist-bar-secondary-controls {
    float: left;}
    
.watch7-playlist-bar-right button .yt-uix-button-icon {
    padding-right: 8px;}
    
[exp-modern-playlists] #watch7-playlist-tray .video-list-item .count {
    text-align: left;padding-left: 5px;}
    
#watch7-playlist-tray .playlist-bar-item-playing .count {
    & when (@FooterLogo = 2017-2024) {
    color:#f00 !important; } }

#watch7-playlist-tray .video-list-item .ux-thumb-wrap {
    margin-left: -5px;}

#watch7-playlist-tray .video-list-item:hover{
    background: #525252;}

.creator-bar-item .yt-uix-button-icon-audio {
    background: no-repeat url(//s.ytimg.com/yts/imgbin/www-creatoreditor-vflso5Vx1.png) 0 -146px }

.pl-video-owner.pl-video-detail:before {
    content: "by ";color: #767676;font-size: 12px;}

#c4-about-tab:before {
    content: "Description";font-weight:500;margin-left: 10px; }

.branded-page-v2-primary-col .branded-page-box-padding {
    padding: 10px;}   

#c4-about-tab .about-custom-links:before {
    content: "Links";display: block;font-size: 13px;font-weight: 500;border-top:1px solid #e2e2e2;padding-top:10px;padding-bottom:10px}

.yt-pl-thumb-overlay img {
    width: 12px; height: 10px;}

.yt-alert-actionable.yt-alert-success .icon,.yt-alert-default.yt-alert-success .icon{
    background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflUwslsd.png) -398px 0; background-size:auto; width:20px; height:21px}

#FEhistory-guide-item:before {
    & when (@FooterLogo = 2015-2017) {
    content: "LIBRARY";color: #cc181e;font-size: 11px;margin: 0 5px;font-weight:500}
    & when (@FooterLogo = 2017-2024) {
    content: "LIBRARY";color: #f00;font-size: 11px;margin: 0 5px;font-weight:500;} }

[exp-modern-guide] #FEsubscriptions-guide-item .guide-my-subscriptions-icon {
    background-position: -52px -321px;}

.yt-lockup .yt-lockup-meta b {
    color: #767676;font-weight:normal;}
    
[exp-true-scrollable-guide] .guide-section:last-of-type {
    padding-bottom: unset;}
    
.oz-sprite.oz-page-verified{
    background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflUwslsd.png) -442px -197px;background-size:auto;width:12px;height:9px}
    
.oz-sprite.oz-page-verified:hover{
    background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflUwslsd.png) -58px -248px;background-size:auto;width:12px;height:9px}
    
.branded-page-module-title-v2 .branded-page-module-avatar {
    margin-top: 1px;}
    
#FEhistory-guide-item .yt-valign.yt-uix-sessionlink.guide-item {
    margin-top:8px;}

.yt-gb-shelf-hero-content .description {
    color: #555;}
    
.yt-gb-shelf-hero-content .description, .category-header .channel-count {
    font-size: 13px;}
    
.category-header .channel-count {
    font-weight: normal;color: #767676;}
    
.category-header .category-title {
    font-size: 18px;}
    
.exp-new-subscribe-style .yt-uix-subscription-preferences-button .yt-uix-button-icon-subscription-preferences{
    background:no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflUwslsd.png) -209px -154px !important;background-size:auto;width:18px;height:18px}
    
.exp-new-subscribe-style .yt-uix-subscription-preferences-button .yt-uix-button-icon-wrapper {
    height: 14px;}

.checkbox-on-off > label:after {
    content: '';cursor: pointer;display: inline-block;margin-left: 4px;background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflUwslsd.png) -189px -132px;background-size: auto;width: 16px;height: 14px}
    
.checkbox-on-off label, .yt-uix-checkbox-on-off label {
    cursor: default;}
    
#watch8-actions-row {
    padding-bottom: 7px;}
    
.cardified-page .yt-card #watch7-creator-bar {
    margin-top: unset;border-bottom: 10px solid #f1f1f1;}
    
.annotation.annotation-type-text .inner-text {
    font-family: "Arial" !important;}

.distiller_yt-post_comment_section .distiller_yt-post-option-menu {
    background:unset;visibility: visible !important;}
    
.yt-uix-button .yt-uix-button-icon-playlist-bar-autoplay {
    background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflUwslsd.png) -343px -23px;background-size: auto;width: 24px;height: 24px;}
    
.yt-uix-button .yt-uix-button-icon-playlist-bar-shuffle {
    background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflUwslsd.png) -260px -248px;background-size: auto;width: 24px;height: 24px;}
    
.yt-uix-button-icon-watch-like {
    background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflUwslsd.png) -483px -281px;}
    
.actionable .yt-uix-button:active .yt-uix-button-icon-watch-like, .actionable .yt-uix-button.yt-uix-button-toggled .yt-uix-button-icon-watch-like {
    background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflU8QvQi.png) -79px -278px;}
    
.yt-uix-button-icon-watch-dislike {
    background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflUwslsd.png) -361px -178px;}

#appbar-nav .epic-nav-item-heading, #appbar-nav .yt-uix-button.yt-uix-button-epic-nav-item, #watch-playlist-privacy-icon {
    padding: unset;}
    
.watch8-floater {
    border: 1px solid #d3d3d3;box-shadow: 0 2px 4px rgba(0,0,0,.2);}
}
@-moz-document url("https://www.youtube.com/feed/trending") {
    .branded-page-v2-top-row, .feed-author-bubble-container, .feed-item-main .feed-item-header, .exp-top-guide .branded-page-v2-has-top-row .branded-page-v2-secondary-col {
        display:none}    

    .feed-item-container .feed-item-main {
        margin: 20px 0 0 51px;margin-left:unset;padding: unset}
    
    .cardified-page .feed-item-container {
        border-bottom: unset;}
    
    .feed-item-container {
    margin: -11px 15px;}}
